<html>
<head>
    <meta charset="utf-8" />
    
    {foreach from=$cssFiles item=cssFile}
    <link rel="stylesheet" type="text/css" href="{$rootUrl}{$cssFile}" />
    {/foreach}
    
    <script stype="text/javascript">
        var rootUrl = '{$rootUrl}';
    </script>
    
    {foreach from=$jsFiles item=jsFile}
    <script type="text/javascript" src="{$rootUrl}{$jsFile}"></script>
    {/foreach}
</head>

<body class="{$bodyClass}">

<div class="all">
    <div class="header">
        <div class="headerTop">
            <div class="headerLogo">
            </div>
            <div class="user">
                {if $user}
                <form action="{$rootUrl}/login" method="POST" class="headerForm">
                    <input name="logout" value="1" type="hidden" />
                    Hello, {$user->name}.
                    <input type="submit" value="Logout" />
                </form>
                {else}
                <a href="{$rootUrl}/login">Login</a>
                {/if}
            </div>
        </div>
        
        <div class="mainMenu">
            {foreach $mainMenu as $item}
                <span><a href="{$item->link}">{$item->caption}</a></span>
            {/foreach}
        </div>
    </div>
    
    <div class="body">
        <div class="bodyLeft">
        </div>
        <div class="bodyCenter">
            <div class="content">
                {$content}
            </div>
        </div>
        <div class="bodyRight">
        </div>
    </div>
    
    <div class="footer">
        <div class="copyright">
            
        </div>
    </div>
</div>
</body>
</html>
