<h3>Change your password</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'savingFailed'}
        <p>Changes weren't saved. Error occured.</p>
    {else if $messageType === 'passwordDifferent'}
        <p>Password and password's confirm are different. Error occured.</p>
    {else if $messageType === 'emptyConfirm'}
        <p>Password's confirm is empty. Error occured.</p>
    {else if $messageType === 'emptyPassword'}
        <p>Password is empty. Error occured.</p>
    {/if}
{/if}
</div>

<form action="{$currentUrl}" method="POST">
<table class="formTable smallTable">
    
    {include file="$baseTemplatePath/formViewText.tmpl" value="{$user->login}" caption="Login"}
    
    {include file="$baseTemplatePath/formPassword.tmpl" name="password" caption="Password"}
    
    {include file="$baseTemplatePath/formPassword.tmpl" name="confirmPassword" caption="Confirm password"}
    
</table>
<p>
    <input type="submit" name="submit" value="Save" />
    <input type="button" value="Cancel" class="back" />
</p>
</form>
