.pointer {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin-left: -10px;
    margin-top: -10px;
}

.whiteBoard {
    position: relative;
    width: 980px;
    overflow-y: scroll;
}

body.student .ct-app .ct-toolbox {
    display: none;
}
