<tr><td colspan="2">
        {$caption}<br />
        {include file="$baseTemplatePath/html.tmpl" name="{$name}" value={$value|default:''} emptyPanel={$emptyPanel|default:false} simplePanel={$simplePanel|default:false}}
</td></tr>
