<div class="htmlNicEditContainer">
    <script type="text/javascript">
        let params = {
            panelContainerId: '{$name}NicEditPanelContainer',
            panelId: '{$name}NicEditPanel',
            inputId: '{$name}NicEditInput',
            customOptions: {
                nicYoutube: {
                    width: '{$nicEditConfig['nicYoutubeWidth']}',
                    height: '{$nicEditConfig['nicYoutubeHeight']}',
                },
            },
            emptyPanel: {if ! empty($emptyPanel)}true{else}false{/if},
            simplePanel: {if ! empty($simplePanel)}true{else}false{/if},
        };
        initNicEdit(params);
    </script>
    <div id="{$name}NicEditPanelContainer">
        <textarea id="{$name}NicEditPanel">{$value}</textarea>
        <input type="hidden" name="{$name}" id="{$name}NicEditInput" {if isset($value) && $value !== null} value="{htmlspecialchars($value)}"{/if} />
    </div>
</div>