/* Common styles */

body, html {
    font-family: Arial;
    margin: 0;
    height: 100%;
    font-size: 16px;
    background: #fff;
}

h1 {
    font-size: 200%;
    margin: 10px 0 2px 0;
    padding: 0;
}

h2 {
    font-size: 160%;
    margin: 8px 0 2px 0;
    padding: 0;
}

h3 {
    font-size: 140%;
    margin: 8px 0 2px 0;
    padding: 0;
}

h4 {
    font-size: 120%;
    margin: 6px 0 1px 0;
    padding: 0;
}

h5 {
    font-size: 100%;
    margin: 6px 0 1px 0;
    padding: 0;
}

p {
    margin: 5px 0;
    padding: 0;
}

pre {
    margin: 5px 0;
    padding: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding: 10px 5px 10px 24px;
    margin: 0px;
}

ol {
    padding: 10px 5px 10px 24px;
    margin: 0px;
}

a, a:visited {
    color: #0065B3;
    text-decoration: none;
}

a:hover {
    color: #58AE2D;
    text-decoration: underline;
}

table {
    border: 1px solid gray;
    margin: 5px 2px 10px 2px;
    border-collapse: collapse;
}

table th {
    border: 1px solid gray;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

table td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

table td.alignLeft,
table.alignLeft td,
.alignLeft {
    text-align: left;
}

form {
    margin: 5px 0;
    padding: 0;
}

input[type="text"], input[type="password"], select,
form input[type="text"], form input[type="password"], form select {
    width: 200px;
    height: 30px;
    border: 1px solid #222;
    padding: 0 5px;
}

textarea {
    width: 600px;
    height: 200px;
    border: 1px solid #222;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="button"], input[type="submit"] {
    width: auto;
    height: 30px;
    margin: 0 5px;
    font-size: 18px;
}

select {
    height: 30px;
    font-size: 18px;
    padding-left: 2px;
    padding-right: 2px;
}

div:focus
 {
    outline: 0;
}

table.listTable {
}

table.listTable th,
table.listTable td {
    padding: 5px 10px;
    vertical-align: middle;
}

table.viewTable {
}

table.viewTable th,
table.viewTable td {
    padding: 5px 10px;
    vertical-align: top;
}

table.formTable {
    width: 100%;
    border: 0;
}

table.formTable td,
table.formTable td {
    padding: 5px 10px;
    vertical-align: top;
    border: 0;
}

table.formTable td:first-child {
    width: 10%;
    max-width: 200px;
}

table.formTable td:nth-child(2) {
    width: 100%;
}

table.formTable input[type="text"],
table.formTable input[type="password"],
table.formTable textarea {
    width: 100%;
}

table.smallTable {
    max-width: 800px;
}

table.smallestTable {
    max-width: 400px;
}

.hidden {
    display: none;
}

.singleLine {
    white-space: nowrap;
}

.message {
    color: gray;
}

.errorMessage,
.message.errorMessage {
    color: red;
}

/* Html textarea styles */

.htmlContentToolsControlBox {
    border: 1px solid #222;
    padding: 3px;
}

.htmlContentToolsControl {
    min-height: 24px;
}

.htmlNicEditContainer textarea {
    height: 400px;
}

.htmlNicEditContainer > div {
    background: white;
}

/* Special page styles */

.whiteBoardContainer textarea{
    width: 100%;
}

/* Page content styles */

.pageContent {
    font-size: 14px;
}

/* Page blocks styles */

.all {
    margin: 0 10px;
}

.header {
}

.headerTop {
    display: table;
    width: 100%;
    height: 40px;
}

.headerLogo {
    display: table-cell;
}

.user {
    display: table-cell;
    text-align: right;
}

.headerForm {
}

.mainMenu {
    width: 100%;
    text-align: center;
}

.header {
    padding: 0 0 10px;
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.body {
    display: table;
    width: 100%;
    padding: 10px 0;
}

.bodyLeft {
    display: table-cell;
}

.bodyCenter {
    display: table-cell;
}

.bodyRight {
    display: table-cell;
}

.footer {
    display: table;
    width: 100%;
}

.copyright {
    display: table-cell;
    text-align: center;
}

.mainMenu > span {
    padding: 5px;
    font-size: 18px;
}

.mainMenu > span:hover {
    background: #eee;
}

.content,
.nicEdit-main {
    width: 980px;
    margin: 0px auto;
    text-align: justify;
}

.content img,
.nicEdit-main img {
    margin: 0 3px 0 3px;
}

.content .nicContentImageBox,
.nicEdit-main .nicContentImageBox {
    text-align: center;
}

.content .nicContentImage,
.nicEdit-main .nicContentImage {
}

