# Turn on URL rewriting
RewriteEngine On

# Installation directory
# RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:application|modules|system)\b.* index.php/$0 [L]

RewriteRule ^css/.*\.css$ - [L]

RewriteRule ^js/.*\.js$ - [L]

RewriteRule ^media/.*\.((jpg)|(jpeg)|(gif)|(ico)|(png)|(svg)|(woff))$ - [L]
RewriteRule ^images/.*\.((jpg)|(jpeg)|(gif)|(ico)|(png)|(svg)|(woff))$ - [L]
RewriteRule ^vendor/.*\.((js)|(css)|(jpg)|(jpeg)|(gif)|(ico)|(png)|(svg)|(woff))$ - [L]

RewriteRule ^css/vendor/content-tools/images/.*\.((svg)|(woff))$ - [L]

# Allow any files or directories that exist to be displayed directly
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php [PT]
