<div class="pages">
{foreach $pagesList as $page}
    {if $page === $currentPage}
        <strong>{$page}</strong>
    {else}
        <a href="{$baseLink}/{$page}">{$page}</a>
    {/if}
{/foreach}

<table border="1"><tbody>
{foreach $wordsList as $word}
    <tr>
        <td style="width: 50px; text-align: center;"><strong>{$word['id']}</strong></td>
        <td>{$word['english']}</td>
        <td>{$word['russian']}</td>
        <td><a href="https://yandex.ua/images/search?text={$word['english']}" target="_blank" rel="noopener noreferrer">default</a></td>
        <td><a href="https://yandex.ua/images/search?text={$word['english']}%20cartoon" target="_blank" rel="noopener noreferrer">cartoon</a></td>
    </tr>
{/foreach}
</tbody></table>

</div>