<h3>{include file="$baseTemplatePath/viewText.tmpl" value="{$item->caption}"}</h3>
<h4>{include file="$baseTemplatePath/viewText.tmpl" value="{$item->subject}"}</h4>

<p><a href="{$baseUrl}">Back to list</a></p>

{include file="$baseTemplatePath/viewText.tmpl" value="{$item->content}"}

<p><a href="{$baseUrl}">Back to list</a></p>
