<h3>Add</h3>

<form action="{$currentUrl}" method="POST" enctype="multipart/form-data">
<table class="formTable">
{foreach $propertiesList as $propertyName => $property}
{if ! $model->isPk($propertyName)}
{if $controlsList[$propertyName] !== 'none'}
    {if $controlsList[$propertyName] === 'select'}
        {include file="$baseTemplatePath/formSelect.tmpl" name="{$property['name']}" values=${$property['name']}Values caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'selectBool'}
        {include file="$baseTemplatePath/formSelectBool.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'textarea'}
        {include file="$baseTemplatePath/formTextarea.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'html'}
        {include file="$baseTemplatePath/formHtml.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'password'}
        {include file="$baseTemplatePath/formPassword.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'file'}
        {include file="$baseTemplatePath/formFile.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'label'}
        {include file="$baseTemplatePath/formViewText.tmpl" caption="{$property['caption']}"}
    {else}
        {include file="$baseTemplatePath/formText.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {/if}
{/if}
{/if}
{/foreach}
</table>
<p>
    {include file="$baseTemplatePath/buttonSubmit.tmpl" value="Save"}
    {include file="$baseTemplatePath/buttonCancel.tmpl" value="Cancel"}
</p>
</form>
