<h3>Edit</h3>

<form action="{$currentUrl}" method="POST">
<table class="formTable">
{foreach $propertiesList as $propertyName => $property}
{if $controlsList[$propertyName] !== 'none'}
    <tr>
    <td>{$property['caption']}</td>
    <td>
        {if $item->isPk($propertyName)}
            {include file="$baseTemplatePath/viewText.tmpl" value="{$item->{$propertyName}}"}
        {else if $controlsList[$propertyName] === 'select'}
            {include file="$baseTemplatePath/select.tmpl" name="{$property['name']}" values=${$property['name']}Values value="{$item->{$propertyName}}"}
        {else if $controlsList[$propertyName] === 'selectBool'}
            {include file="$baseTemplatePath/selectBool.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}"}
        {else if $controlsList[$propertyName] === 'textarea'}
            {include file="$baseTemplatePath/textarea.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}"}
        {else if $controlsList[$propertyName] === 'html'}
            {include file="$baseTemplatePath/html.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}"}
        {else}
            {include file="$baseTemplatePath/text.tmpl" name="{$property['name']}" value="{$item->{$propertyName}}"}
        {/if}
    </td>
    </tr>
{/if}
{/foreach}
</table>
<p>
    <input type="submit" name="submit" value="Save" />
    <input type="button" value="Cansel" class="back" />
</p>
</form>
