<div class="listContent">

<h3>List</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'addedSuccessfully'}
        <p>Item was added.</p>
    {elseif $messageType === 'addingFailed'}
        <p>Item wasn't added. Error occured.</p>
    {elseif $messageType === 'itemNotFound'}
        <p>Item not found.</p>
    {elseif $messageType === 'editedSuccessfully'}
        <p>Item was sucessfully updaeted.</p>
    {elseif $messageType === 'editingFailed'}
        <p>Item wasn't updated. Error occured.</p>
    {elseif $messageType === 'deletedSuccessfully'}
        <p>Item was successfully deleted.</p>
    {elseif $messageType === 'deletingFailed'}
        <p>Item wasn't deleted. Error occured.</p>
    {elseif $messageType === 'disabledSuccessfully'}
        <p>Item was successfully updated.</p>
    {elseif $messageType === 'enabledSuccessfully'}
        <p>Item was successfully updated.</p>
    {elseif $messageType === 'disablingFailed'}
        <p>Item wasn't updated. Error occured.</p>
    {elseif $messageType === 'enabledFailed'}
        <p>Item wasn't updated. Error occured.</p>
    {elseif $messageType === 'wrongParamethers'}
        <p>Wrong paramethers.</p>
    {/if}    
{/if}
</div>

{if $pagesList}
<div class="pages">
{foreach $pagesList as $page}
{if $page === $currentPage}
    <strong>{$page}</strong>
{else}
    <a href="{$baseUrl}/list/{$page}">{$page}</a>
{/if}
{/foreach}
</div>
{/if}

<p><a href="{$baseUrl}/add">Create new</a></a>
        
<table class"listTable"><tbody>
    <tr>
    {foreach $propertiesList as $propertyName => $property}
    {if $controlsList[$propertyName] !== 'none'}
        <th>{$property['caption']}</th>
    {/if}
    {/foreach}
    <th>Actions</th>

    </tr>
    
    {foreach $itemsList as $item}
    <tr>
    {foreach $propertiesList as $propertyName => $property}
    {if $controlsList[$propertyName] !== 'none'}
        <td>
        {if $controlsList[$propertyName] === 'select'}
            {include file="$baseTemplatePath/viewSelect.tmpl" values=${$property['name']}Values value="{$item->{$propertyName}}"}
        {else if $controlsList[$propertyName] === 'selectBool'}
            {include file="$baseTemplatePath/viewBool.tmpl" value="{$item->{$propertyName}}"}
        {else}
            {include file="$baseTemplatePath/viewText.tmpl" value="{$item->{$propertyName}}"}
        {/if}
        </td>
    {/if}
    {/foreach}
    <td>
        <a href="{$baseUrl}/edit/{$item->id}">edit</a>&nbsp;<a href="{$baseUrl}/view/{$item->id}">view</a>&nbsp;<a href="{$baseUrl}/delete/{$item->id}">delete</a>&nbsp;<a href="{$baseUrl}/disable/{$item->id}">{if $item->disabled}enable{else}disable{/if}</a>
    </td>
    </tr>
    {/foreach}
</tbody></table>

</div>
