<div class="listContent">

<h3>List</h3>

<div class="message">
{if $messageType}
    {if $messageType === 'addedSuccessfully'}
        <p>Item was added.</p>
    {else if $messageType === 'addingFailed'}
        <p>Item wasn't added. Error occured.</p>
    {else if $messageType === 'itemNotFound'}
        <p>Item not found.</p>
    {else if $messageType === 'editedSuccessfully'}
        <p>Item was sucessfully updaeted.</p>
    {else if $messageType === 'editingFailed'}
        <p>Item wasn't updated. Error occured.</p>
    {else if $messageType === 'deletedSuccessfully'}
        <p>Item was successfully deleted.</p>
    {else if $messageType === 'deletingFailed'}
        <p>Item wasn't deleted. Error occured.</p>
    {else if $messageType === 'disabledSuccessfully'}
        <p>Item was successfully updated.</p>
    {else if $messageType === 'enabledSuccessfully'}
        <p>Item was successfully updated.</p>
    {else if $messageType === 'disablingFailed'}
        <p>Item wasn't updated. Error occured.</p>
    {else if $messageType === 'enabledFailed'}
        <p>Item wasn't updated. Error occured.</p>
    {else if $messageType === 'wrongParamethers'}
        <p>Wrong paramethers.</p>
    {/if}
{/if}
</div>

{if $pagesCount > 1}
<div class="pages">
{foreach $pagesList as $page}
{if $page === $currentPage}
    <strong>{$page}</strong>
{else}
    <a href="{$baseUrl}/list/{$page}">{$page}</a>
{/if}
{/foreach}
</div>
{/if}

{if ! empty($canAdd)}<p><a href="{$baseUrl}/add">Create new</a></a>{/if}
        
<table class="listTable">
    <tr>
    {foreach $propertiesList as $propertyName => $property}
    {if $controlsList[$propertyName] === 'none'}
    {else if $controlsList[$propertyName] === 'textarea'}
    {else if $controlsList[$propertyName] === 'html'}
    {else if $controlsList[$propertyName] === 'password'}
    {else}
        <th>{$property['caption']}</th>
    {/if}
    {/foreach}
    <th>Actions</th>

    </tr>
    
    {foreach $itemsList as $item}
    <tr>
    {foreach $propertiesList as $propertyName => $property}
    {if $controlsList[$propertyName] === 'none'}
    {else if $controlsList[$propertyName] === 'textarea'}
    {else if $controlsList[$propertyName] === 'html'}
    {else if $controlsList[$propertyName] === 'password'}
    {else}
        <td>
        {if $controlsList[$propertyName] === 'select'}
            {include file="$baseTemplatePath/viewSelect.tmpl" values=${$property['name']}Values value="{$item->{$propertyName}}"}
        {else if $controlsList[$propertyName] === 'selectBool'}
            {include file="$baseTemplatePath/viewBool.tmpl" value="{$item->{$propertyName}}"}
        {else}
            {include file="$baseTemplatePath/viewText.tmpl" value="{$item->{$propertyName}}"}
        {/if}
        </td>
    {/if}
    {/foreach}
    <td>
        {if ! empty($canView)}<a href="{$baseUrl}/view/{$item->id}">view</a>&nbsp;&nbsp;&nbsp;{/if}
        {if ! empty($canEdit)}<a href="{$baseUrl}/edit/{$item->id}">edit</a>&nbsp;&nbsp;&nbsp;{/if}
        {if ! empty($canDelete)}<a href="{$baseUrl}/delete/{$item->id}" onClick="return confirm('Confirm deletion?');">delete</a>&nbsp;&nbsp;&nbsp;{/if}
        {if ! empty($canDisable)}<a href="{$baseUrl}/disable/{$item->id}" onClick="return confirm('Confirm action?');">{if $item->disabled}enable{else}disable{/if}</a>{/if}
    </td>
    </tr>
    {/foreach}
</table>

</div>
