<h3>Add</h3>

<form action="{$currentUrl}" method="POST">
<table>
{foreach $propertiesList as $propertyName => $property}
{if $propertyName !== 'deleted'}
{if ! $model->isPk($propertyName)}
{if $controlsList[$propertyName] !== 'none'}
{if ! in_array($propertyName, array('caption', 'subject', 'keywords', 'content'))}
    
    {if $controlsList[$propertyName] === 'select'}
        {include file="$baseTemplatePath/formSelect.tmpl" name="{$property['name']}" values=${$property['name']}Values caption="{$property['caption']}"}
    {else if $controlsList[$propertyName] === 'selectBool'}
        {include file="$baseTemplatePath/formSelectBool.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {else}
        {include file="$baseTemplatePath/formText.tmpl" name="{$property['name']}" caption="{$property['caption']}"}
    {/if}
    
{/if}
{/if}
{/if}
{/if}
{/foreach}
</table>
<p>
    <input type="submit" name="submit" value="Save" />
    <input type="button" value="Cansel" class="back" />
</p>
</form>
