<script type="text/javascript">
    waitForActiveLesson("{$baseUrl}/waiting", "{$baseUrl}/lesson");
</script>

<div class="listContent">

<h3>Waiting for begining</h3>

<div class="whiteBoard">

</div>
