<link rel="stylesheet" type="text/css" href="{$rootUrl}/css/ActiveLesson/ActiveLesson.css" />

<script type="text/javascript" src="{$rootUrl}/js/ActiveLesson/common.js"></script>
<script type="text/javascript">
    waitForActiveLesson("{$baseUrl}/waiting", "{$baseUrl}/lesson");
</script>

<div class="listContent">

<h3>Waiting for begining</h3>

<div class="activeLessonContent">

</div>
