<script type="text/javascript">
    var requestUrl = "{$baseUrl}/command/{$student->id}/{$lesson->id}";
    {literal}
    ActiveLesson(true, {requestUrl: requestUrl});
    {/literal}
</script>

<h3>Lesson with student {$student->name}</h3>

<h4>{$lesson->caption}</h4>

<h4>{$lesson->subject}</h4>

<div class="htmlNicEditContainer whiteBoardContainer">
    <div id="lessonNicEditPanelContainer">
        <textarea id="lessonNicEditPanel">{$lesson->content}</textarea>
    </div>
</div>
